body {
    margin: 0;
    color: white;
    background: #1B244A;
    font-size: 40px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: flex;
    justify-content: space-around;
}

@font-face {
    src: url(CursedTimerUlil-Aznm.ttf);
    font-family: scoreText;
}

.score {
    font-family: scoreText;
    background: black;
    font-size: 90px;
    color: #F94F6D;
    padding: 15px 20px 0px 18px;
    width: 122px;
    margin: 0px auto 20px;
    border-radius: 5px;
    
}

h3 {
    margin: 68px auto 21px;
}

.btn {
    background: #1B244A;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    font-family: scoreText;
    font-size: 18px;
    padding: 10px;
    color: #9AABD8;
}